body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.login-background{
    background-image: url(/assets/img/login-bg.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    position: absolute;
    background-size: cover;
}

.login-background section{
    padding-top: 8%;
    padding-bottom: 8%;
    height: 100%;
}
.login-left-div{
    background-color: #06c5ac;
    color: #fff;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/bg-strips-light.jpg);
    background-repeat: repeat;
}
.login-right-div{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}
.login-right-div input{
background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-bottom-color: aqua;
}
.login-btn{
    color: #06c5ac;
    background-image: none;
    background-color: transparent;
    border-color: #06c5ac;
    width: 70%;
}

.login-link{
    color:#666 !important;
    text-decoration: underline;
}

.login-link:hover{
    color: #fff;
}
.login-btn:hover {
    color: #fff;
    background-color: #06c5ac;
    border-color: #06c5ac;
}

@media (min-width: 1200px) {
 .login-right{
    margin-left: inherit;
}
.margin-top-20{
    margin-top: 20%;
}
}

.loader {
      margin-top: -25px;
    margin-left: 70%;
      border-bottom: 2px solid red;
    border-top: 2px solid yellow; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.red{
    color: red;        
}
