<div class="page-title clearfix ng-isolate-scope" pagename="Panel"> 
  <div class="pull-left"> 
    <h4 class="ng-binding">Create New Policy</h4> 
  </div> 
</div>
<div class="conter-wrapper"> 
  <div class="row"> 
    <div class="col-md-12"> 
      <div class="panel panel-primary"> 
        <div class="panel-heading"> 
          <h6 class="panel-title">General Details </h6> 
            </div> 
            <div class="panel-body"> 
              <form > 
                <div class="row align-middle">
                  <div class="col-md-4">
                    <div class="form-group">
                       <small>Policy Number</small> <br>
                      <input type="text" class="form-control my-input" aria-describedby="basic-addon1">
                    </div> 
                  </div>
                
                  <div class="col-md-4">
                      <div class="form-group">
                       <small>Branch</small> <br>
                        <select class="my-dropdown" #selectElem (change)="setBranch(selectElem.value)">
                          <option class="dropdown-item" *ngFor="let branch of branches" [value]="branch.id">
                            {{branch.Name}}
                          </option>
                        </select>
                  </div>
                  </div>
                   <div class="col-md-4">
                    <div class="form-group">
                      <small>Reference</small> <br>
                      <input type="text" class="form-control my-input" aria-describedby="basic-addon1">
                    </div> 
                  </div>                  
                </div>
                <div class="row align-middle">
                  <div class="col-md-4">
                      <div class="form-group">
                       <small>Date</small> <br>
                        <select class="my-dropdown" #selectElem (change)="setNewUser(selectElem.value)">
                          <option class="dropdown-item" *ngFor="let user of lUsers" [value]="user.id">
                            {{user.Name}}
                          </option>
                        </select>
                  </div>
                  </div>
                    <div class="col-md-4">
                      <div class="form-group">
                       <small>Agent</small> <br>
                        <select class="my-dropdown" #selectElem (change)="setNewUser(selectElem.value)">
                          <option class="dropdown-item" *ngFor="let user of lUsers" [value]="user.id">
                            {{user.Name}}
                          </option>
                        </select>
                  </div>
                  </div>
                     <div class="col-md-4">
                      <div class="form-group">
                       <small>Broker</small> <br>
                        <select class="my-dropdown" #selectElem (change)="setNewUser(selectElem.value)">
                          <option class="dropdown-item" *ngFor="let user of lUsers" [value]="user.id">
                            {{user.Name}}
                          </option>
                        </select>
                  </div>
                  </div>

                </div>
                <hr>
                <div class="row align-middle">
                  <div class="col-md-4">
                   <div class="form-group">
                       <small>Title</small> <br>
                        <select class="my-dropdown" #selectTitle (change)="setTitle(selectTitle.value)">
                          <option class="dropdown-item" *ngFor="let title of titles" [value]="title.id">
                            {{title.Name}}
                          </option>
                        </select>
                  </div>
                  </div>     
                   <div class="col-md-4">
                   <div class="form-group">
                       <small>Firstname</small> <br>
                        <input type="text" class="form-control my-input" aria-describedby="basic-addon1">
                  </div>
                  </div>           
                  <div class="col-md-4">
                   <div class="form-group">
                       <small>Surname</small> <br>
                        <input type="text" class="form-control my-input" aria-describedby="basic-addon1">
                  </div>
                  </div>
                    
                </div>
                 <div class="row align-middle">
                 
              <div class="col-md-4">
                       <div class="form-group">
                      <small>ID Number</small> <br>
                      <input type="number" maxlength="13" name="IDNumber" minlength="13" class="form-control my-input" aria-describedby="basic-addon1">
                    </div> 
                  </div>
                  <div class="col-md-4">
                       <div class="form-group">
                      <small>Passport</small> <br>
                      <input type="text" class="form-control my-input" aria-describedby="basic-addon1">
                    </div> 
                  </div>
                   <div class="col-md-4">
                       <div class="form-group">
                      <small>Marital Status</small> <br>
                      <select class="my-dropdown" #selectMaritalStatus (change)="setMaritalStatus(selectMaritalStatus.value)">
                          <option class="dropdown-item" *ngFor="let maritalStatuses of maritalStatuses" [value]="maritalStatuses.id">
                            {{maritalStatuses.Name}}
                          </option>
                        </select>
                    </div> 
                  </div>
                </div>
                <div class="row align-middle"> 
                  <div class="col-md-4">
                       <div class="form-group">
                      <small>Gender</small> <br>
                      <select class="my-dropdown" #selectGender (change)="setGender(selectGender.value)">
                          <option class="dropdown-item" *ngFor="let gender of genders" [value]="gender.id">
                            {{gender.Name}}
                          </option>
                        </select>
                    </div> 
                  </div>
                  <div class="col-md-4">
                   <div class="form-group">
                       <small>Region</small> <br>
                        <select class="my-dropdown" #selectRegion (change)="setRegion(selectRegion.value)">
                          <option class="dropdown-item" *ngFor="let region of regions" [value]="region.id">
                            {{region.Name}}
                          </option>
                        </select>
                  </div>
                  </div>
                  <div class="col-md-4">
                       <div class="form-group">
                      <small>Email</small> <br>
                     <input type="email" class="form-control my-input" aria-describedby="basic-addon1">
                    </div> 
                  </div>
                </div>
                 <div class="row align-middle">
                    <div class="col-md-4">
                   <div class="form-group">
                       <small>Mobile Number</small> <br>
                       <input type="number" class="form-control my-input" maxlength="10" minlength="10" aria-describedby="basic-addon1">
                  </div>
                  </div>
                  <div class="col-md-4">
                   <div class="form-group">
                       <small>Home Tel</small> <br>
                        <input type="number" class="form-control my-input" maxlength="10" minlength="10" aria-describedby="basic-addon1">
                  </div>
                  </div>                  
                  <div class="col-md-4">
                       <div class="form-group">
                      <small>Work Tel</small> <br>
                     <input type="number" class="form-control my-input" maxlength="10" minlength="10" aria-describedby="basic-addon1">
                    </div> 
                  </div>                   
                </div>
                <div class="row align-middle">
                    <div class="col-md-4">
                   <div class="form-group">
                       <small>Residential Address</small> <br>
                       <textarea rows="2" cols="50" class="form-control my-input" ></textarea>
                  </div>
                  </div>
                  <div class="col-md-4">
                   <div class="form-group">
                       <small>Postal Address</small> <br>
                        <textarea rows="2" cols="50" class="form-control my-input" ></textarea>
                    </div>
                  </div>                  
                  <div class="col-md-4">
                       <div class="form-group">
                      <small>Notes</small> <br>
                     <textarea rows="2" cols="50" class="form-control my-input" ></textarea>
                    </div> 
                  </div>                   
                </div>
                
                <div class="row">  
                  <div class="col-md-6">
                     <button type="button" class="btn cancel-btn" (click)="Cancel()">Cancel</button>
                      </div>
                      <br>
                       <br>
                  <div class="col-md-6">
                     <button type="button" class="btn btn-success next-btn" (click)="NextToStep2()">Next</button>
                      </div>
                </div>
              </form>
            </div>
        </div>
    </div>
  </div>
</div>
                   